:root {
  --primary-color: #1864ab;
  --secondary-color: #3ac267;
  --text-color: #fff;
  --secondary-text-color: #333;
  --background-color: #f8f8f8;
  --overlay-color: rgba(0, 0, 0, 0.55);
}

.hero {
  position: relative;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.subheading {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.ctaContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.ctaButton,
.ctaButtonAlt {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.2s ease-in-out;
}

.ctaButton {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
}

.ctaButton:hover {
  /* background-color: var(--secondary-color); */
  transform: scale(1.05);
}

.ctaButtonAlt {
  background-color: #3ac267;
  color: var(--text-color);
  text-decoration: none;
}

.ctaButtonAlt:hover {
  /* background-color: var(--primary-color); */
  transform: scale(1.10);
}

@media screen and (max-width: 768px) {
  .hero {
    height: 60vh;  /* Change height to 60vh for smaller screens */
    padding-top: 80px;
  }

  .heading {
    font-size: 2rem;  /* Reduce font size to 2rem */
    margin-bottom: 1rem;
  }

  .subheading {
    font-size: 1.3rem;  /* Reduce font size to 1.3rem */
    margin-bottom: 2rem;
  }

  .ctaButton,
  .ctaButtonAlt {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
}
/* 
.phoneNumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
} */

.phoneNumber {
  background-color: rgba(255, 255, 255, 0.9);
  color: var(--secondary-text-color);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.phoneNumbers {
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
