/* ServicesSection.module.css */

.services {
  background-color: var(--background-color);
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 50px;
  text-align: center;
  color: var(--secondary-text-color);
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--card-shadow);
  width: 100%;
  max-width: 350px;
}

.serviceImage {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.serviceTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0;
  color: var(--secondary-text-color);
  text-align: center;
}

.serviceTasks {
  font-size: 1rem;
  line-height: 1.5;
  color: #777;
  list-style: none;
  padding: 0;
  margin: 0;
}

.serviceTasks li {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
  position: relative;
}

.serviceTasks li::before {
  content: '✓';
  position: absolute;
  left: 0;
  color: var(--secondary-color);
}
