.header {
  padding: 1rem 0;
}

.logo {
  font-weight: bold;
  color: #0d47a1;
  text-decoration: none;
}

.logoLink {
  text-decoration: none;
}

.phone {
  color: #0d47a1;
}

.spacer {
  flex-grow: 1;
}

.phoneLink {
  color: #0d47a1;
  text-decoration: none;
}
