.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1e90ff;
  }
  
  .logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .phone {
    color: white;
    font-weight: bold;
  }
  